.frame82 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  justify-self: flex-start;
  border-radius: 10px;
  padding: 30px;
}
.frame85 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.freeBox__q5Jiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.slotTargetешеду {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 1);
  line-height: 20px;
  letter-spacing: 0px;
}
.freeBox__kZlTy {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.slotTargetChildren {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(14, 14, 14, 1);
  line-height: 20px;
  letter-spacing: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #c00;
  width: 21.779085159301758px;
  height: 13.701171875px;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.svgnoLink {
  display: none;
}
